h1{
    color: red;
}

p, li{
    color: green;
}

li{
    list-style-type: square;
}



li em{
    color: rebeccapurple;
}

h1 + p{
    font-size: 200%;
}

p span{
    color: red;
}

a:link{
    color: pink;
    font-weight: bold;
}

a:visited{
    color: green;
}

a:hover{
    text-decoration: none;
}

body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}