body {
        background-color: #fff;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;
        margin: 0;
      }

      

      h1 {
        color: hotpink;
        border-bottom: purple 10px dotted;
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      h2 {
        font-size: 1.5em;
        font-style: italic;
      }

      .job-title {
        color: #999999;
        font-weight: bold;
      }

      a:link {
        color: red;
      }
      a:visited {
        color: #fb6542;
      }

      a:hover {
        text-decoration: none;
        color: green;
      }

      ul {
        background-color: #eeeeee;
        border: purple 5px solid;
        padding: 20px;
      }